# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Data
data/*.csv
data/*.db
data/artifacts/
data/raw/*.csv

# Models
*.joblib
*.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

#env
.env